# Database
SQL_SERVER_DSN=mssql+pyodbc://SA:Your_password123@localhost,1433/RastreAgro?driver=ODBC+Driver+17+for+SQL+Server

# JWT
JWT_SECRET_KEY=8iOSCE6coU3uPwyWQRD_9GIaBT62n2vFLO7Mumhf4Pq_TjS6VJUEzi38d5h5UaDpjL7RlMUgUmjHWDunLEaltg
JWT_REFRESH_SECRET_KEY=9WbyQ4ApVDLquhUr1cwePFHQ2QkXvi7r6oFZ_tj3x06_Di80dCdEXqxdbX_JYdjexo8rEJN7vYJvhFFgUZGj6w
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=10080

# API Metadata
API_TITLE=RastreAgro API
API_DESCRIPTION=API para plataforma de rastreabilidade e marketplace de animais
API_VERSION=1.0.0
